body {
    background-color: rgb(194, 214, 214);
    color: rgb(102, 0, 102);
}

#logo {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40px;
}

.list { 
    font-size: 25px;
    color: rgb(102, 0, 102);
}

#moto {
    padding-top:35px;
}

img {
    border: 2px solid rgb(102, 0, 102);
}

#reviews { 
    padding-left: 40px;
}

.indie {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}

.navbar-default {
    background-color: rgb(194, 214, 214);
}